body{
    background-color: #4b0082;
}
.login {
  width: 30%;
  margin: 0 auto;
  background-color:white;
  margin-top: 15%;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
}
.login h4 {
  /* text-align: center;
  margin-top: 20px; */
  font-size: 20px;
}

.login .input-box {
  width: 94%;
  padding: 10px;
  margin-bottom: 15px;
}

.login button {
  width: 100%;
  background-color: #00823b;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login button:hover {
  background-color: #005a2e;
}