/* *{
    background-color: rgb(104, 218, 233);
}
form{
    display: block;
    font-weight: 200;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    width: 50%;
    height: 100vh;
    max-width: 110px;
    background-color: aqua;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    justify-content: center;
    align-items: center;
} */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.form-container {
  
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #4b0082;
  border-radius: 10px;
  color: white;
  margin-top:30px ;
}
.form-container th {
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
/* form > table> th  {
  padding: 30px;;
} */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="number"],
.form-container select,
.form-container textarea {
  /* width: calc(100% - 20px); */
  /* margin-left: 50px; */
  margin-bottom: 10px;
  /* border: 1px solid #ccc;
  border-radius: 5px; */
}

.form-container table {
  width: 100%;
}
div{
  text-align: right;
}

/* .form-container textarea {
      width: calc(100% - 400px);
      height: 100px;
    } */
/* .form-container th {
      text-align: left;
      padding-bottom: 10px;
    } */
/* 
    .form-container input[type="text"], 
    .form-container input[type="email"],
    .form-container input[type="number"], 
    .form-container select,
    .form-container textarea {
      /* width: calc(100% - 20px); */
/* margin-left: 50px; */
/* margin-bottom: 10px; */
/* border: 1px solid #ccc; */
/* border-radius: 5px;
    } */
/*
    .form-container textarea {
      width: calc(100% - 10px);
      height: 100px;
    }
    .form-container input[type="radio"] {
      margin-right: 5px;
    }
    .form-container input[type="checkbox"] {
      margin-right: 5px;
    }
    .form-container input[type="submit"],
    .form-container input[type="reset"] {
      padding: 10px 20px;
      margin: 10px 5px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
      */
.form-container input[type="submit"] {
  background-color: #008000;
  color: white;
}
.form-container input[type="reset"] {
  background-color: #ff0000;
  color: white;
}
